
.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.h {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    padding: 30px;
}

.btn {
    padding: 10px 20px;
    background-color: #0178ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}